@charset "utf-8";
@import "util";

body, html, select, g > text {
  color: $dark-grey;
  font-family: verdana, tahoma, arial;
  margin: 0;
}

* {
  @include box-sizing-box;
}

g > text {
  fill: $dark-grey;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-size: 12pt;
}


a {
  &[href^="http://"]::after,
  &[href^="https://"]::after {
    font-family: FontAwesome;
    content: " " + $fa-extlink;
    font-size: 75%;
  }
  &.doc-link::after {
    font-family: FontAwesome;
    content: " " + $fa-tutorial;
    font-size: 75%;
  }
  &:link {
    color: $dark-orange;
    text-decoration: none;
    &:hover {
      color: $darkest-orange;
      @include color-transition;
    }
  }
  &:visited {
    color: $darkest-orange;
  }
}

// MailToChiffre
a[onclick$='return PArok(this,false)'] {
  direction:rtl;
  unicode-bidi:bidi-override;
  text-align:left
}
a[onclick$='return PArok(this,false)']>span:nth-child(1n+2){
  display:none
}
a[onclick$='return PArok(this,false)']>span:nth-child(1)::after{
  content:'@'
}