@charset "utf-8";

/**
 * Aggregate separated Sass files for Kalamar
 */

// Global variables and mixins
@use "base/base";       // Base styles
@use "main/main";       // Main frame styles
@use "header/header";   // Top frame styles
@use "footer/footer";   // Bottom frame styles
@use "sidebar/sidebar"; // Left frame styles
@use "no-js";           // Script disabled
@use "media";           // Media queries
