@use "util";
@use "base/colors";
@use "base/lengths";

/**
 * Optimization for no-js behaviour
 */
body.no-js {

  #notifications {
    display: block !important;
  }
  
  // Aside in noscript mode
  aside {
    position:    relative;
    display:     block;
    transition:  none;
    margin-left: 0 !important;
    padding-top: 0;
    width:       100%;
    top:         0;

    > * {
      opacity:    1 !important;
      transition: none;
    }

    form.login {
      > input,
      > div {
        width:      auto;
        margin-top: 0;
        &:first-of-type {
          float:        left;
          margin-right: 1em;
        }
      }
      button {
        height: 100%
      }
    }

    p,
    &::after {
      display: none;
    }
  }

  main div.intro {
    margin-left: lengths.$base-padding !important;
  }
}

#activate {
  text-align:       right;
  background-color: colors.$dark-orange;
  margin-top:       0;
  padding:          lengths.$base-padding;
  padding-right:    lengths.$standard-margin;
  color:            colors.$nearly-white;
  font-size:        80%;
}