@use "base/base";
@use "base/colors";
@use "base/lengths";

body {
  margin: 0;
  padding: 0;
  h1 {
    font-size: 110%;
    background-color: colors.$ids-orange-1;
    color: white;
    margin-top: 0;
    padding: lengths.$base-padding;
  }
  section {
    padding-left: lengths.$base-padding;
    padding-bottom: lengths.$base-padding;
    &::before{
      content:'';
    }
  }
}
