@charset "utf-8";
@import "util";

div.resultinfo {
  clear: both;

  p.found {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    text-align: right;
  }
}

#total-results {
  color: $total-results;
  font-weight: bold;
}

