*
!/Gruntfile.js
!/kalamar.conf
!/kalamar.dict
!/kalamar.queries.dict
!/LICENSE
!/Makefile.PL
!/package.json
!/dev
!/lib
!/script
!/t
!/loc
!/templates
!.dockerignore
/templates/announcement.html.ep
/templates/custom
/dev/js/src/custom
**/node_modules
/lib/Kalamar/Plugin/Announcements.pm
/script/hypnotoad.pid
/dev/css