/cache
/kalamar.secret*
/start-test
/todo.org
/fixtures.txt
/sandbox
/Sandbox
/node_modules
/cache/data
/public
/kalamar.*.conf
/kalamar.conf.json
/kalamar.conf.js
/kalamar.*.dict
!/kalamar.queries.dict
/script/hypnotoad.pid
/.sass-cache
/dev/css
/dev/js/spec/src
/dev/js/src/custom
/templates/announcement.html.ep*
/templates/news.html.ep*
/templates/custom
/lib/Kalamar/Plugin/Announcements.pm
/log
/blib
/super_client_info
/script*
/MYMETA*
/Makefile
/pm_to_blib
/t/kalamar_user_client.t
\#*
adminToken
*.tar.gz
*~
*.sqlite
*.log
*.db
*.plugins.json
*.old
.*
/t/kalamar_user_client.t
!.gitignore
!.github
!.gitlab-ci.yml
!.dockerignore
/npm-debug.log
/package-lock.json
/kalamar.code-workspace
slim.report.json