/cache
/kalamar.secret
/start-test
/todo.org
fixtures.txt
sandbox
Sandbox
node_modules
cache/data
public
kalamar.*.conf
kalamar.conf.json
kalamar.conf.js
kalamar.*.dict
!kalamar.queries.dict
script/hypnotoad.pid
.sass-cache
dev/css
dev/js/spec/src
templates/announcement.html.ep
templates/custom
lib/Kalamar/Plugin/Announcements.pm
log
blib
script*
MYMETA*
Makefile
pm_to_blib
t/kalamar_user_client.t
\#*
*.tar.gz
*~
*.sqlite
*.log
*.db
*.old
.*
t/kalamar_user_client.t
!.gitignore
!.dockerignore
npm-debug.log
package-lock.json
/kalamar.code-workspace