@import "../util";
@import "alertify/alertify-core";
@import "alertify/alertify-default";

/**
 * Alertify styles.
 */

article.alertify-log-warn {
  background-color: $dark-orange;
  code.src {
    color: $darkest-orange;
  }
}

article.alertify-log code.src {
  display: block;
  color: $dark-red;
  font-size: 70%;
}

.alertify-log-error {
  background-color: $alert-red;
}

#notifications {
  display: none;
}

// TODO:
//   This differs from alertify messages and should be united
div.notify {
  position: relative;
  margin: .5em auto;
  display: block;
  padding: .5em;
  
  border-radius: $standard-border-radius;
  max-width: 30em;
  background-color: $alert-red;
  color: $nearly-white;
  &.notify-success {
    background-color: $ids-green-1
  }
  &.notify-warn {
    background-color: $ids-orange-2
  }
}