@import "../util";
@import "alertify/alertify-core";
@import "alertify/alertify-default";

/*
article.alertify-log {
  text-shadow:none;
}
*/

article.alertify-log-warn {
  background-color: $dark-orange;
  code.src {
    color: $darkest-orange;
  }
}

article.alertify-log code.src {
  display: block;
  color: $dark-red;
  font-size: 70%;
}