@charset "utf-8";
@import "../util";

/*
 * Define the base layout of horizontal button groups
 */
.button-group {
  > span {
    cursor: pointer;
    &.button-icon {
      font-family: 'FontAwesome';
      > span {
        @include blind;
      }
    }
  }

  &.button-panel, &.operators {
    > span {
      box-shadow: $choose-box-shadow;
      font-size: 9pt;
      line-height: 1.5em;
      padding: 0 4px;
      display: inline-block;
      @include choose-item;
      border-style: solid;
      border-width: $border-size 0;
      &:hover {
	      @include choose-hover;
      }
      &:first-child {
	      border: {
	      left-width: $border-size;
	      top-left-radius: $standard-border-radius;
	      bottom-left-radius: $standard-border-radius;
	    }
      }
      &:last-child {
	      border: {
	      right-width: $border-size;
	      top-right-radius: $standard-border-radius;
	      bottom-right-radius: $standard-border-radius;
      }
      }
    }
  }
  &.button-view {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    margin: 0;
    padding: 0;
    width: $right-match-distance;
    > span:first-child {
      margin-top: $border-size
    }
    > span {
      display: block !important;
      border-width: 0;
      text-decoration:none;
      text-align: center;
      font-style: normal;
      
      &.download::after {
	      content: $fa-download;
      }
      
      &.close::after {
	      content: $fa-close;
      }

      &.plugin::after {
	      content: $fa-plugin;        
      }
    }
  }
}

.button-group.button-view {
  font-size: 10pt;
  color: $nearly-white;
}


.button-group.vcstatistic{
	position:relative;
	}


ul.menu.button-group-list {
  border-top-right-radius: 8px;
  font-size: 10pt;
  position: fixed;
  left: 0;
  text-align: left;
  margin: -1 * $border-size;
  margin-top: 0;
  > li:first-of-type {
	  border-top-right-radius: 5px;
  }
}


