@import "../util";

/**
 * Styles for the intro page
 */
div.intro {

  &-container {
    margin-top: 3rem;
    display: flex;
    gap: $standard-size-and-spacing;
  }

  // Visited links
  a:visited {
    color: $darkest-orange
  }

  div.announcement {
    background-color: $light-orange;
    padding:          $base-padding;
    border:           5px dashed $dark-orange;
    border-radius:    1em;
    width:            90%;
    margin:           auto;
  }
}

@media all and (max-width: 42.5em) {
  div.intro {
    &-container {
      margin-top: 1rem;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

// aside.active ~ main div.intro {
//   margin-left: $logo-left-distance - $standard-margin + $base-padding;
// }