@use "../util";
@use "../base/colors";
@use "../base/lengths";

/**
 * Styles for the intro page
 */
div.intro {

  &-container {
    margin-top: 3rem;
    display: flex;
    gap: lengths.$standard-size-and-spacing;
  }

  // Visited links
  a:visited {
    color: colors.$darkest-orange
  }

  div.announcement {
    background-color: colors.$light-orange;
    padding:          lengths.$base-padding;
    border:           5px dashed colors.$dark-orange;
    border-radius:    1em;
    width:            90%;
    margin:           auto;
  }
}

@media all and (max-width: 42.5em) {
  div.intro {
    &-container {
      margin-top: 1rem;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

// aside.active:not(.off) ~ main div.intro {
//   margin-left: $logo-left-distance - $standard-margin + $base-padding;
// }

