@import "../util";

/**
 * Styles overriding introJS styles
 */

.introjs-helperLayer {
    background-color: transparent;
}

.introjs-tooltip{    
    max-width: 500px; 
    min-width: 400px;   
}

.customTooltip .introjs-tooltip-title {
    font-size: 12pt;
    padding: 20px;
    white-space:  nowrap;
}


.tgreeting {
    color: $darkest-orange;
    }
