@use "../util";
@use "../base/colors";

/**
 * Styles overriding introJS styles
 */

.introjs-helperLayer {
    background-color: transparent;
}

.introjs-tooltip{    
    max-width: 500px; 
    min-width: 400px;   
}

.customTooltip .introjs-tooltip-title {
    font-size: 12pt;
    padding-top: 5px;
    white-space:  nowrap;
}


.tgreeting {
    color: colors.$darkest-orange;
    }
