@charset "utf-8";
@import "../util";

$border-size: 2px;

#koralquery {
  border: 1px solid $kwic-border;
  white-space: pre;
  background-color: $dark-orange;
  > div {
    overflow-x: auto;
    font-size: 85%;
    background-color: $nearly-white;
    margin: {
      top: 2pt;
      right: $right-match-distance; // 3em;
      bottom: 2pt;
      left: 2pt;
    }
  }
}
