@charset "utf-8";
@use "../util";
@use "../base/colors";
@use "../base/lengths";

/**
 * Styles for the KoralQuery view.
 */

#koralquery {
  white-space: pre;
  > div {
    // TODO:
    //   Mark this with result-view
    background-color: colors.$nearly-white;
    overflow-x:       auto;
    font-size:        85%;

    margin: {
      top:    2pt;
      right:  lengths.$right-view-distance;
      bottom: 2pt;
      left:  2pt;
    }
  }
}
