@charset "utf-8";
@import "../util";

$border-size: 2px;
$font-size: 10pt;

#search {
  position: relative;
  margin-bottom: 30px;
  overflow: visible;
//  margin-top: 14pt;
}

#search > ol {
  overflow-x: hidden;
  overflow-y: visible;
  width: auto;
  border: 1px solid black;
  text-indent: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid $kwic-border;
  font-size: $font-size;

  > li {
    display: table-row;
    table-layout: auto;
    div.meta {
      position: relative;
      display: table-cell;
      text-align: left;
      cursor: initial;
      width: 2px;
      z-index: 5;
      overflow-y: visible;
      white-space: nowrap;
      background-color: lighten($middle-grey, 5%);
      // @include light-noise;
      border: {
        color: $dark-grey;
        style: solid;
        width: 2px 1px 0 0;
      }
      &:empty {
        border-width: 0 1px 0 0;
      }
      &.flip {
        background-color: lighten($middle-grey, 17%);
      }
      color: $nearly-white;
      font-size: 75%;
      padding: 0 5pt;
    }
    &:first-of-type div.meta {
      border-top-width: 0;
    }
    &:last-of-type div.meta {
      border-bottom-width: 0;
    }
  }
}

#search > ol > li {
  border: {
    style: solid;
    color: $dark-orange;
    width: 0;
  }
}

#search {
  div.meta, div.match-main {
    position: relative;
	  cursor: pointer;
  }
  /*
	    &:not(.active):not(:target) {
        &:nth-of-type(even) div.main-col {
 */
  div.match-main {
    display: table-cell;
    z-index: 4;
    > div.match-wrap {
      width: 99999%;
	    margin-left: -49999.5%;
	    background-color: $kwic-line-noneven;
	    overflow-x: hidden;
	    overflow-y: visible;
	    white-space: normal;
    }
  }
}

#search ol li:nth-of-type(even) div.match-main div.match-wrap {
  background-color: $kwic-line-even;
}


div.snippet {
	text-overflow: ellipsis;
	text-indent: 0;
	text-shadow: $light-shadow;
  font-size: 0;
  > span, mark {
    font-size: $font-size;
	  padding: 5pt 0 6pt 0;
    white-space: no-wrap !important;
    > span {
      white-space: no-wrap !important;
    }
  }
  > mark, > span.match {
    font-weight: bold;
    color: $black;
    text-shadow: none;
    padding-left: 4pt;
    padding-right: 2pt;
  }
}



#search div.matchinfo {
  display: none;
}

#search li.active div.matchinfo {
  display: block;
}

#search div.match-main {
  position: relative;
  z-index: 4;
  > div.match-wrap {
    margin-left: -49999.5%;
    width: 99999%;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    box-sizing: border-box;
  }
}

div.snippet.startMore:before,
div.snippet.endMore:after {
  content: "…";
  padding-left: 2pt;
  padding-right: 2pt;
}

/**
 * flag
 */
div.snippet div.flag {
  position: absolute;
  height: 100%;
  top: 0;
 	// margin-left: -49999.5%;
  // margin-left: 50%;
  margin-left: 50%;
  width: 11px;
  background-color: $dark-orange;
  border-right-color: $nearly-white;
  border-right: 1px solid $darkest-orange;
}

/**
 * References
 */

#search > ol > li p.ref {
  display: none;

  // TEMP! Remove
  > span.meta {
    cursor: pointer;
    @include choose-item;
    margin: $border-size $border-size 0 $border-size !important;
    text-align: center;
    text-decoration: none;
    padding: 0pt 3pt;
    border: {
      width: $border-size;
      style: solid;
      radius: $standard-border-radius;
    }
    &:hover {
      cursor:pointer;
      @include choose-hover;
    }

    /*
    color: $nearly-white;
   */
    &::after {
	    /*
      font-size: 12pt;
font-family: "FontAwesome";
	    content: $fa-metadata;
     */
      content: "+Meta";
    }

    > span {
	    @include blind;
    }
  }
}

// More is defined in vc.scss
p.ref div.action.bottom {
  display: inline-block;
  margin-right: .5em;
  > span {
    position: relative;
    box-shadow: none;
  }
}

/**
 * Active
 */
body.no-js #search > ol > li:active,
#search > ol > li.active,
#search > ol > li:target {
  background-color: $dark-orange;
  display: block;
  text-align: left;
  position: relative;
  border-width: 2px;
  white-space: wrap;
  height: auto;
  width: auto;

  div.match-main > div.match-wrap {
    cursor: default;
  }
  span {
    display: inline; // !important;
  }
  ul.action {
    display: block;
  }
  div.match-wrap {
    min-height: 20pt;
    div.snippet {
	    background-color: $light-orange;
	    > * {
	      background-color: transparent;
	    }
      div.flag {
        display: none;
      }
	    padding: 2pt 0 5pt 5pt;
	    margin: {
	      top: 0;
	      right: $right-match-distance; // 3em;
	      bottom: 0;
	      left: 0; // 5pt margin-top
	    }
	    > span {
        // color: black;
        line-height: 1.4em;
        width: auto;
        &.context-left {
          margin-left: 0;
          display: inline;
          overflow: visible;
          text-align: left;
          width: auto;
        }
	    }
    }
  }

  overflow: hidden;

  div.meta {
    display: none;
    // visibility: hidden;
  }
  div.match-main {
    width: 100%;
    display: block;
    div.match-wrap {
      background-color: $dark-orange;
      width: 100%;
      margin-left: 0;
      overflow-x: visible;
      white-space: wrap;
    }
  }
  p.ref {
    display: block;
	  color: $nearly-white;
	  padding: 3pt 10pt 3pt 3pt;
	  padding-right: $right-match-distance;
	  margin: 0pt;
	  width: 100%;
	  bottom: 0;
	  z-index: 30;
	  > span.sigle {
	    font-size: 75%;
	    vertical-align: top;
	    color: $light-orange;
	    float: right;
	  }
  }
}
    


/**
 * Right aligned
 */

#search ol span.context-left {
  display: inline-block;
  width: 50.01%;
  text-align: right;
}

#search ol.align-right {
  text-align: right;
  div.match-main span.context-right {
    display: inline-block;
    width: 49.915%;
    text-align: left;
  }
}

// fix empty contexts
#search ol span.context-left,
#search ol span.context-right {
  &:empty::after {
    content: " ";
    display: inline-block;
  }
}

/**
 * Highlights
 */
mark {
  background-color: inherit;
  color: inherit;
}

mark > mark,
em,
.level-0 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 0px !important;
  font-style: normal;
}

mark > mark > mark,
em > em,
.level-1 {
  padding-bottom: 3px !important;
}

mark > mark > mark > mark,
em > em > em,
.level-2 {
  padding-bottom: 6px !important;
}


#search > ol > li {
  &:not(.active) mark > mark > mark > mark,
  &:not(.active) em > em > em {
    line-height: 180%;
  }
  &.active mark > mark > mark > mark,
  &.active em > em > em {
    line-height: 250%;
  }
}

.class-1 { border-color: $kwic-highlight-1; }
.class-2 { border-color: $kwic-highlight-2; }
.class-3 { border-color: $kwic-highlight-3; }
.class-4 { border-color: $kwic-highlight-4; }


/**
 * Actions
 */

ul.action {
  display: none;
  //  background-color: $dark-orange;
  font-size: 12pt;
  color: $nearly-white;
  text: {
    shadow: none;
    indent: 0;
  }
  margin: 0;
  padding: 0;
  z-index: 5;
  
  list-style: {
    type: none;
    position: inline;
  }
  &.right {
    position: absolute;
    z-index: 4;
    width: $right-match-distance;
    float: right;
    text-align: center;
    padding: 0pt 3pt;
    height: 100%;
    right: 0;
    top: 0;
    li {
      cursor: pointer;
      color: $nearly-white;
      text-decoration: none;

      > span {
	      @include blind;
      }
      &.close::after {
	      font-family: "FontAwesome";
	      content: $fa-close;
      }
      &.info::after {
	      font-family: "FontAwesome";
	      content: $fa-info;
      }
    }
  }
}

