@charset "utf-8";
@import "../util";


$border-size: 2px;
$font-size: 10pt;

#search {
  position: relative;
  margin-bottom: 30px;
  overflow: visible;
//  margin-top: 14pt;
}

#search > ol {
  overflow-x: hidden;
  overflow-y: visible;
  width: auto;
  text-indent: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: $result-border-size solid $kwic-border;
  font-size: $font-size;

  > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;

    div.meta {
      position: relative;
      flex: 1 0;
      min-width: 12em;
      max-width: 15em;

      // Tiny hack
      &:before {
        content:" ";
        display:inline-block;
        height:100%;
        vertical-align:middle;
      }
      
      text-align: left;
      // cursor: initial;
      width: 2px;
      z-index: 5;
      overflow-y: hidden;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: lighten($middle-grey, 5%);
      border: {
        color: $dark-grey;
        style: solid;
        width: 2px 1px 0 0;
      }
      &:empty {
        border-width: 0 1px 0 0;
      }
      &.flip {
        background-color: lighten($middle-grey, 17%);
      }
      color: $nearly-white;
      font-size: 75%;
      padding: 0 5pt;
    }
    &:first-of-type div.meta {
      border-top-width: 0;
    }
    &:last-of-type div.meta {
      border-bottom-width: 0;
    }
  }
}

#search > ol > li {
  border: {
    style: solid;
    color: $dark-orange;
    width: 0;
  }
}

#search {
  div.meta, div.match-main {
    position: relative;
	  cursor: pointer;
  }
  /*
	    &:not(.active):not(:target) {
        &:nth-of-type(even) div.main-col {
 */
  div.match-main {
    display: block;
    flex: 7 0;
    z-index: 4;
    overflow: hidden;

    > div.match-wrap {
      width: 99999%;
	    margin-left: -49999.5%;
	    background-color: $kwic-line-noneven;
	    overflow-x: hidden;
	    overflow-y: visible;
	    white-space: normal;
    }
  }
}

#search ol li:nth-of-type(even) div.match-main div.match-wrap {
  background-color: $kwic-line-even;
}


div.snippet {
	text-overflow: ellipsis;
	text-indent: 0;
	text-shadow: $light-shadow;
  font-size: 0;
  white-space: nowrap !important;

  > span, mark {
	  padding: 5pt 0 6pt 0;
    font-size: $font-size;
    // white-space: nowrap;
    // > span {
      // white-space: nowrap;
    // }
  }
  > mark, > span.match {
    font-weight: bold;
    color: $black;
    text-shadow: none;
    padding-left: 4pt;
    padding-right: 2pt;
  }
  > span.match > span.cutted::after {
    content: $fa-cut;
    font-family: FontAwesome;
    padding: {
      left: 4pt;
      right: 4pt;
    }
    color: $light-green;
  }
}



#search div.matchinfo {
  display: none;
}

#search {
  li.active div.matchinfo {
    display: block;
  }

  li.active + li.active {
    border-top: $border-size solid $light-grey;
    padding-top: 3 * $border-size;
    // > ul.action.right {
    .button-group.button-view {
      padding-top: 3 * $border-size;
    }
  }
}



/*
#search div.match-main {
  position: relative;
  z-index: 4;
  > div.match-wrap {
    margin-left: -49999.5%;
    width: 99999%;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    box-sizing: border-box;
  }
}
*/

div.snippet.startMore:before,
div.snippet.endMore:after {
  content: "…";
  padding-left: 2pt;
  padding-right: 2pt;
}

/**
 * flag
 */
div.snippet div.flag {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 11px;
  background-color: $dark-orange;
  border-right-color: $nearly-white;
  border-right: 1px solid $darkest-orange;
}

/**
 * References
 */

#search > ol > li p.ref {
  display: none;
}


/**
 * Active
 */
body.no-js #search > ol > li:active,
#search > ol > li.active,
#search > ol > li:target {
  background-color: $dark-orange;
  display: block;
  text-align: left;
  position: relative;
  border-width: 2px;
  white-space: wrap;
  height: auto;
  width: auto;

  div.match-main > div.match-wrap {
    cursor: default;
  }
  .snippet {
    white-space: normal !important;
  }
  
  .snippet span {
    display: inline !important;
  }
  .button-group.button-view {
    display: block;
  }
  div.match-wrap {
    min-height: 20pt;
    div.snippet {
      
	    background-color: $light-orange;
	    > * {
	      background-color: transparent;
	    }
      div.flag {
        display: none;
      }
	    padding: 2pt 0 5pt 5pt;
	    margin: {
	      top: 0;
	      right: $right-view-distance;
	      bottom: 0;
	      left: 0; // 5pt margin-top
	    }
	    > span {
        line-height: 1.4em;
        width: auto;
        &.context-left {
          margin-left: 0;
          display: inline;
          overflow: visible;
          text-align: left;
          width: auto;
        }
	    }
    }
  }

  overflow: hidden;

  div.meta {
    display: none;
    // visibility: hidden;
  }
  div.match-main {
    display: block;
    width: 100%;
  
    div.match-wrap {
      background-color: $dark-orange;
      width: 100%;
      margin-left: 0;
      overflow-x: visible;
      white-space: wrap;
    }
  }
  p.ref {
    display: block;
	  color: $nearly-white;
	  padding: 3pt 10pt 3pt 3pt;
	  padding-right: $right-view-distance;
	  margin: 0pt;
	  width: 100%;
	  bottom: 0;
	  z-index: 30;
	  > span.sigle {
	    font-size: 75%;
	    vertical-align: top;
	    color: $light-orange;
	    float: right;
	  }
  }
}
    
#search ol span.context-left {
  display: inline-block;
  width: 50.01%;
  text-align: right;
}


/**
 * Right aligned
 */

#search ol.align-right {
  text-align: right;

  div.match-main span.context-right {
    display: inline-block;
    width: 49.915%;
    text-align: left;
  }
}

/**
 * Center aligned
 */
#search ol.align-center {
  div.match-main {
    width: 100% !important;

    > .match-wrap {
      margin-left: 0;
      position: relative;
    }
  }

  li:not(.active) div.snippet {
    white-space: normal;
    text-align: center;
    width: 100000pt;
    margin-left: -50000pt;

    span.context-left {
      display: inline-block;
      text-align: right;
      width: 40000pt;
      margin-left: 70vw;
    }

    span.context-right {
      display: inline-block;
      text-align: left;
      width: 40000pt;
    }
  }
}


// fix empty contexts
#search ol span.context-left,
#search ol span.context-right {
  &:empty::after {
    content: " ";
    display: inline-block;
  }
}

/**
 * Highlights
 */
mark {
  background-color: inherit;
  color: inherit;
}

mark > mark,
em,
.level-0 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 0px !important;
  font-style: normal;
}

mark > mark > mark,
em > em,
.level-1 {
  padding-bottom: 3px !important;
}

mark > mark > mark > mark,
em > em > em,
.level-2 {
  padding-bottom: 6px !important;
}


#search > ol > li {
  &:not(.active) mark > mark > mark > mark,
  &:not(.active) em > em > em {
    line-height: 180%;
  }
  &.active mark > mark > mark > mark,
  &.active em > em > em {
    line-height: 250%;
  }
}

.class-1 { border-color: $kwic-highlight-1; }
.class-2 { border-color: $kwic-highlight-2; }
.class-3 { border-color: $kwic-highlight-3; }
.class-4 { border-color: $kwic-highlight-4; }


/**
 * Actions
 */
#search > ol > li .button-group.button-view {
  display: none;
}
