@charset "utf-8";
@import "../util";

/**
 * Rules for logos.
 */
.logo {
  &::after {
    content: "" !important;
  }

  > * {
    background: {
      repeat:   no-repeat;
      size:     90%;
      position: 50% 50%;
    }

    > span {
      @include blind;
    }

    > div.logoaddon {
      position:absolute;
      display: block;
      font-size: 10pt;
      right: 5pt;
      bottom: 4pt;
      text-align:right;
      color: $dark-orange;
      padding: 3pt;
      text-shadow: 1pt 1pt 0 $nearly-white, -1pt -1pt 0 $nearly-white, -1pt 1pt 0 $nearly-white, 1pt -1pt 0 $nearly-white;
    }
  }
}

/**
 * Logo: KorAP
 */
h1 {
  position:    absolute;
  margin:      0;
  // margin-left: 10pt;
  margin-left: 3rem;
  left:        0;
  top:         0;
  width:       7.8em;
  height:      2.4em;
  z-index:     105;
  background: {
    size:  78% !important;
    image: url('#{$img-path}/korap-logo.svg');
  }
}

aside.active ~ header h1 {
  position: fixed;
}


#overview {
  text-align: center;
  width:      100%;
}
