@use 'sass:math';
@use 'highlight'; // JSON highlighting
@use 'kwic'; // Kwic view information
@use 'logos'; // Logo images
@use 'matchinfo'; // Match table
@use 'pagination'; // Pagination
@use 'query'; // View query
@use 'resultinfo'; // Information on results
@use 'tutorial'; // Embedded and non-embedded tutorial
@use 'koralquery'; // KoralQuery
@use 'alertify'; // Styling alerts
@use 'intro'; // Intro page
@use 'panel'; // Base panel system
@use 'introjs'; // Guided Tour
@use 'introjs-ids'; // Guided Tour: IDS specific
@use 'oauth'; // OAuth Management styles
@use 'announcements'; // Styling for announcements
@use 'news'; // View for optional news
@use 'plugin'; // Rules for embedded plugins
@use 'marketplace'; // Plugin Marketplace styles
// @import "tagger";   // Tagger

@use '../util';
@use "../base/lengths";

main {
  padding: 0 lengths.$standard-size-and-spacing;

  // margin: {
  //   left:  $standard-margin;
  //   right: math.div($standard-margin,2);
  // }

  &.shifted {
    padding-left: calc(lengths.$standard-size-and-spacing + lengths.$logo-left-distance);
  }

  &.embedded {
    margin: {
      left: 14px;
      right: 14px;
    }
  }

  p {
    text-align: justify;
    hyphens:    auto;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h2#page-top {
    margin-top: 0;
    padding-top: 1em;
  }

  // &.page {
  //   margin-left: $logo-left-distance + 15px;
  //   p,
  //   li,
  //   dd,
  //   dt {
  //     code {
  //       background-color: $ids-grey-2;
  //       color:            $ids-grey-1;
  //       padding:          0 .5em;
  //       border-radius:    $standard-border-radius;
  //     }
  //   }
  // }

  p.hint {
    margin: 0 auto;
    text-align: center;
  }
}
