@import "highlight";   // JSON highlighting
@import "kwic";        // Kwic view information
@import "logos";       // Logo images
@import "matchinfo";   // Match table
@import "tree";        // Tree view
@import "pagination";  // Pagination
@import "query";       // View query
@import "resultinfo";  // Information on results
@import "tutorial";    // Embedded and non-embedded tutorial
@import "koralquery";  // KoralQuery
@import "tagger";      // Tagger
@import "alertify";    // Styling alerts
@import "intro";       // Intro page
@import "buttongroup"; // Button groups
@import "panel";       // Base panel system
@import "plugin";      // Plugin mechanism
@import "introjs";     // Guided Tour
@import "introjs-ids"; // Guided Tour: IDS specific 
main {
  margin: {
    left: $standard-margin; 
    right: ($standard-margin / 2);
  }
  padding-bottom: 20pt;
  &.embedded {
    margin: {
      left: 14px;
      right: 14px;
    }
  }
  p {
    text-align: justify;
    hyphens: auto;
  }
}

blockquote {
  border-radius: $standard-border-radius;
  padding: 2pt 5pt 2pt 20pt;
  margin: 0;
  border-left: 5px solid $ids-blue-1;
  background-color: $ids-blue-2;
  color: $ids-blue-1;

  &.bug, &.missing {
    border-left-color: $dark-red;
    background-color: $middle-red;
    color: $nearly-white;
  }
}
