@charset "utf-8";
@use "../util";
@use "view/matchtable";
@use "view/matchtree";
@use "view/metatable";
@use "../base/colors";
@use "../base/lengths";


/**
 * General matchinfo styles.
 */

// TODO: This should be moved to panel/match

div.matchinfo {
  position:    relative;
  width:       100%;
  padding-top: lengths.$border-size;
  height:      auto;
  font-size:   10pt;
  text-align:  left;

  &:empty {
    display: none !important;
  }

  .view + .view {
    margin-top: 4 * lengths.$border-size !important;
  }
}


div.metatable,
div.matchtable,
div.matchtree {
  position:         relative;
  background-color: colors.$dark-orange;
}

div.button-group.button-panel.button-matchinfo {
  display:      inline-block;
  margin-right: .5em;

  > span {
    position:   relative;
    box-shadow: none;
  }
}
