@import "../util";

/**
 * Styles for OAuth management form.
 */

ul.client-list {
  padding-left: 1.5em;

  li.client {
    list-style-type: none;
    margin-bottom: 1.5em;

    span.client-name::before {
      margin-left: -1.5em;
    }

    p.client-desc, p.client-url {
      font-weight: normal;
      font-size: 80%;
      margin-top: .2em;
      margin-bottom: .2em;
    }
  }

  br {
      display: block;
      margin: 3pt 0;
  }
}

span.client-name {
  font-weight: bold;

  &::before {
    @include icon-font;
    display:   inline-block;
    width:     1.5em;
    content:   $fa-client;
    color:     $ids-blue-1;
    font-size: 100%;
  }
}

.client-type-public::after,
.client-type-confidential::after {
  @include icon-font;
  margin-left: .3em;
  display:   inline-block;
  width:     1.5em;
  font-size: 70%;
  line-hight: top;
  vertical-align: text-top;
}

.client-type-public::after {
  content:   $fa-public;
  color:     $ids-pink-1;
}

.client-type-confidential::after {
  content:   $fa-confidential;
  color:     $ids-blue-1;
}

li.token {
    list-style-type: none;
}


label[for=token] {
    font-weight: bold;

  &::before {
    @include icon-font;
    font-feature-settings: "ss01" on;
    margin-left: -1.5em;
    display:   inline-block;
    width:     1.5em;
    content:   $fa-token;
    color:     $ids-blue-1 !important;
    font-size: 100%;
    font-weight: 900;
  }
}
