@import "../util";

/**
 * Styles for OAuth management form.
 */

ul.client-list {
  padding-left: 1.5em;

  li.client {
    list-style-type: none;

    span.client-name::before {
      margin-left: -1.5em;
    }

    span.client-desc {
      font-size: 70%;
      display:   block;
    }
  }
}

span.client-name {
  font-weight: bold;

  &::before {
    @include icon-font;
    display:   inline-block;
    width:     1.5em;
    content:   $fa-plugin;
    color:     $ids-blue-1;
    font-size: 100%;
  }
}