@import "../util";


ul.client-list {
  padding-left: 1.5em;
  li.client {
    list-style-type: none;
    span.client-name {
      &::before {
        margin-left: -1.5em;
      }
      font-weight: bold;
    }
    span.client-desc {
      font-size: 70%;
      display: block;
    }
  }
}

span.client-name {
  &::before {
    display: inline-block;
    width: 1.5em;
    content: $fa-plugin;
    font-family: 'FontAwesome';
    color: $ids-blue-1;
    font-size: 100%;
  }
  font-weight: bold;
}