@import "../util";

/**
 * Base styles for all panels and views
 */

div.panel {
  position: relative;
  width:    100%;
  display:  block;
}

div.view {
  position:    relative;
  padding-top: $border-size;
  display:     block;
  width:       100%;
}

div.view:not(.show) {
  display: none;
}