@use "../util";
@use "../base/lengths";

/**
 * Base styles for all panels and views,
 * Including head
 */

div.panel {
  position: relative;
  width:    100%;
  display:  block;
}

div.view {
  position:    relative;
  padding-top: lengths.$border-size;
  display:     block;
  width:       100%;
}

div.view:not(.show) {
  display: none;
}
