@charset "utf-8";
@import "../util";

div.panel {
  position: relative;
  width: 100%;
  display: block;
  padding-top: $border-size;
  background-color: $dark-orange;
  border: {
    style: solid;
    color: $dark-orange;
    width: 0;
  }
}

div.view {
  position: relative;
  display: block;
  min-height: 40px;
  background-color: $middle-green;
  width: 100%;
  .button-group {
    color: white;
  }
}
