@charset "utf-8";
@import "../util";

div.panel {
  position: relative;
  width: 100%;
  display: block;
  > div {
    /*
    border: {
      style: solid;
      width: $border-size;
    }
    &:empty {
      border-width: 0;
    }
   */
  }
}

div.view {
  position: relative;
  padding-top: $border-size;
  display: block;
  width: 100%;
  .button-group {
    color: white;
  }
}


#search div.view {
  border: 1px solid $kwic-border;
  background-color: $dark-orange;
}