@use "../base/colors";
@use "../base/lengths";

/**
 * Base rules for all plugin related styles,
 * like widgets.
 */

div.view.widget {
  padding-right: lengths.$right-view-distance;

  > iframe {
    margin:     0;
    box-sizing: border-box;
    padding:    0;
    width:      100%;
    overflow-x: auto;
  }
}

div.panel.result > div > div.widget > iframe {
  background-color: colors.$nearly-white;
}