@charset "utf-8";
@import "../util";


pre.query {
  overflow-x: hidden; 
  padding: .5em;
  @include choose-item;
  position:relative;
  border: {
    width: 2px;
    style: solid;
    radius: $standard-border-radius;
  }
  box-shadow: $choose-box-shadow;
  &:not(.unsupported) {
    cursor: pointer;
    &:hover {
      @include choose-hover;
    }
    &:active {
      @include choose-active;
    }
  }
  &.unsupported span {
    vertical-align: super;
    color: $dark-blue;
    font-size: 90%;
    font-weight: bold;
    cursor: help;
  }
}
