@charset "utf-8";
@use "../util";
@use "../base/choose";
@use "../base/colors";
@use "../base/lengths";


pre.query {
  overflow-x: hidden; 
  padding: .5em;
  @include choose.choose-item;
  position:relative;
  border: {
    width: 2px;
    style: solid;
    radius: lengths.$standard-border-radius;
  }
  box-shadow: choose.$choose-box-shadow;
  &:not(.unsupported) {
    cursor: pointer;
    &:hover {
      @include choose.choose-hover;
    }
    &:active {
      @include choose.choose-active;
    }
  }
  &.unsupported span {
    vertical-align: super;
    color: colors.$dark-blue;
    font-size: 90%;
    font-weight: bold;
    cursor: help;
  }
}
