@charset "utf-8";
@import "../util";

#resultinfo {
  clear: both;
  text-align: right;

  font-size: 10pt;
  p.found {
    display: inline;
    padding: 0;
    margin: 0;
    text-align: right;
  }
  div.result.button {
    display: inline-block;
    > a {
      cursor:pointer;
      position: relative;
      margin: 0 2pt;
      > span {
	@include blind;
      }
    }
    > a::after {
      font-family: 'FontAwesome';
    }
    > a.align.left::after {
      content: $fa-left-align;
    }
    > a.align.right::after {
      content: $fa-right-align;
    }
    > a.show-kq::after {
      content: $fa-code;
    }
  }
}

#total-results {
  color: $total-results;
  font-weight: bold;
}

#no-results {
  margin: 0 auto;
  text-align: center;
  code {
    &::before {
      content : open-quote;
    }
    &::after {
      content : close-quote;
    }
    font-weight: bold;
  }
}
