$light-orange:   #f4eebb;
$dark-orange:    #ffa500;
$darker-orange:  #ff8000;
$darkest-orange: darken($dark-orange, 20%);

$light-blue:     #cfe6f4;
$dark-blue:      #73b2f4;
$darkest-blue:   darken($dark-blue, 40%);

$dark-green:    #496000;
$light-green:   #7ba400;

$total-results: $light-green; // #c1002b;

$light-shadow: 1px 1px rgba(255, 255, 255, 0.9);

$light-grey: #ddd;
$middle-grey: #999;
$dark-grey: #333;

$nearly-white: #f5f5f5;

$kwic-border:       $middle-grey;
$kwic-line-noneven: $nearly-white;
$kwic-line-even:    $light-grey;
$kwic-match-color:  $dark-grey;
$kwic-match-shadow: $light-shadow;

$kwic-highlight-1: #c1002b;
$kwic-highlight-2: $dark-blue;   // #009ee0;
$kwic-highlight-3: $dark-orange; // #f29400;
$kwic-highlight-4: $light-green;

$pagination-bg: $light-grey;
$pagination-border: $middle-grey;
$pagination-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
