@charset "utf-8";

@import "colors";

#searchbar > i.show-hint {
  z-index: 0;
  position: absolute;
  right: 65px;
  top: 0;
  font-size: 120%;
  line-height: 120%;
  margin-top: 1pt;
  padding-top: 2pt;
  padding-bottom: 1pt;
  color: $dark-orange;
  background-color: white;
  &:hover, &.active {
    color: $light-green;
    cursor: pointer;
  }
}

#searchMirror {
  position: absolute;
  margin-top: 1px;
  white-space: pre-wrap;
  overflow: show;
  height: 0;
  > span {
    opacity: 0;
    white-space: pre-wrap;
    overflow: hidden;
  }
  > ul {
    color: white;
    margin: 0;
    margin-top: -1px;
    text-indent: 0;
    max-width: 23em;
    display: inline-block;
    background-color: $pagination-bg;
    border: {
      width: 2px;
      style: solid;
      top-width:  0px;
      color: $pagination-border;
    }
    box-shadow: $pagination-box-shadow;
    opacity: 0;
    padding: 0;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    > li {
      cursor: pointer;
      list-style-type: none;
      list-style-position: outside;
      padding: 3px 10pt;
      text-shadow: none;
      white-space: normal;
      color: $light-green;
      border: {
        top: 5px solid transparent;
	bottom: 5px solid transparent;
      }
      &:hover {
        background-color: $dark-orange;
        color: white;
        text-shadow: none;
	> span {
	  color: white;
	}
      }
      > span {
	display: block;
	color: $dark-green;
        text-align: left;
        font-style: normal;
	font-size: 80%;
	text-shadow: none;
      }
      /* like sidebar ul li.active */
      &.active {
        background-color: $light-green;
        text-shadow: none;
        color: $dark-green;
	&:hover {
	  color: white;
	}
      }
      &:first-of-type:not(.no-more) {
        border-top-color: $dark-orange;
      }
      &:last-of-type:not(.no-more) {
        border-bottom-color: $dark-orange;
      }     
    }
  }
}
