@charset "utf-8";

@import "colors";

/* code data - clickable */
pre.query {
  overflow-x: hidden;
  background-color: $light-orange;
  white-space: normal;
  cursor: pointer;
  display: block;
  font: {
    size: 11pt;
    weight: bold;
  }
  padding: 2pt;
  margin: 0;
  margin-bottom: 5pt;
  color: $darkest-orange;
  text-shadow: $light-shadow;
  border: {
    color: $dark-orange;
    style: solid;
    width: 3px;
    radius: 6px;
  }
  code {
    white-space: pre;
    display: block;
    padding: 2px 5px;
    margin: 0;
  }
  &.serial {
    overflow-x: auto;
    &:not(.active) {
      overflow-x: hidden;
      > span {
        padding: 2pt;
      }
      code {
        display: none;
      }
    }
    &.active > span {
      display: none;
    }
  }
}
