/*
<link rel="stylesheet" media="(max-width: 800px)" href="example.css" />
@media tv and (min-width: 700px) and (orientation: landscape) { ... }
*/

html, body {
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

#tutorial {
  border-radius: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-width: 0;
  padding: 0;
  font-size: 9pt;
  > iframe {
    border-radius: 0;
  }
}

#top {
  padding: 0 0 0 0;
  height: 80px;
  h1 {
    margin: 5px;
    height: 30px;
    width: 80px;
    background-size: 98% auto;
  }
  /* Temporary */
  form button {
    display: none;
  }
}

#sidebar {
  margin-left: -260px;
}

#search {
  margin {
    left: 0;
    right: 0;
  }
}

form {
  margin-left: 0px;
}

#ql-field {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
}

#q-field {
  width: 100%;
}

#button-right {
  top: 7px;
  right: 7px;
}

#search > ol > li {
  font-size: 9pt;
  &:not(.active) {
    padding: 4pt 0 5pt 0;
  }
  &.active {
    padding: 0 0 0 0;
  }
}

code.query.serial {
  font-size: 10pt;
}