@media (orientation: portrait), (max-width: 42.5em) {
  body {
    font-size: 10pt;
  }
  #sidebar {
    margin-left: -230px;
  }
  h1 {
    margin-left: 3px;
/*
    width: 4em;
    height: 1.8em;
*/
    width: 80px;
    height: 40px;
    background-size: 100%;
    z-index: 300;
  }
  main {
    margin-left: 14px;
  }
  #top form {
    padding-left: 0px;
/*
    padding-top: 2.9em;
*/
    padding-top: 33px;
  }
  #sidebar {
    padding-top: 22px;
  }
  #tutorial {
    border-radius: 0;
    border-width: 0;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 0;
  }
  #tutorial iframe {
    border-radius: 0;
  }
  #sidebar:not(.active) > i.fa-bars {
    font-size: 12pt;
    width: 10pt;
    height: 11pt;
  }
  #searchbar, #searchbar input {
    font-size: 9pt;
  }
  ol {
    font-size: 9pt;
  }
  ol > li:target > div > div.snippet,
  ol > li.active > div > div.snippet {
    margin: 2px 3em 2px 4px;
  }
  pre.query {
    font-size: 9.5pt;
  }
}