@media (orientation: portrait), (max-width: 42.5em) {
  #sidebar {
    margin-left: -230px;
  }
  h1 {
    margin-left: 3px;
    width: 4em;
    height: 1.8em;
    background-size: 90%;
    z-index: 300;
  }
  main {
    margin-left: 14px;
  }
  #top form {
    padding-left: 0px;
    padding-top: 2.9em;
  }
  #sidebar {
    padding-top: 22px;
  }
  #tutorial {
    border-radius: 0;
    border-width: 0;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 0;
  }
  #tutorial iframe {
    border-radius: 0;
  }
}