/* List view */

/*
  .hint {
    max-width: 23em;
    margin-top: -1px;
    display: inline-block;
    opacity: 0;
    border-top-width: 0px;
  }
*/


/*
  border: 2px solid white;
  height: -1.5em;
  border-top-width: 0;
  background-color: #7ba400;
*/

/*
  .hint > li {
    border-bottom: 5px solid transparent;
  }
*/



