@charset "utf-8";

/*
 sidebar: #496000
 orange: #f4eebb
*/

body {
  background-color: #7ba400;
  color: white;
  font-family: tahoma, verdana, arial;
  font-size: 10pt;
}

.vc .doc > span + span {
  margin-left: 5pt;
}

.vc .docGroup {
  position: relative;
  background-color: #7ba400;
  color: white;
  display: inline-block;
  border-radius: 10px;
  border-style: solid;

  /* See margin-left in docGroup::before */
  margin-left: 2.8em;
  border-width: 0 3px 0 3px;
  padding: .6em .5em;
}

.vc .docGroup .docGroup {
  display: block;
}

.vc > .docGroup {
  margin-left: 0;
}

.vc .operators {
  opacity: 0;
  white-space: nowrap;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.vc .operators > span {
  cursor: pointer;
  font-size: 9pt;
  line-height: 1.3em;
  padding: 0 4px;
  display: inline-block;
}

.vc .operators > span.and {
  background-color: white;
  color: #7ba400;
}

.vc .doc > .operators > span.and {
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vc .operators > span.or {
  background-color: #ffa500;
  color: white;
}

.vc .operators > span.delete {
  background-color: red;
  border-radius: inherit;
  color: white;
}

.vc .doc > .operators > span.delete {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vc .doc > .operators {
  margin-left: 10px;
}

.vc .docGroup[data-operation=or] > .doc::before,
.vc .docGroup[data-operation=or] > .docGroup::before {
  content: "oder";
}

.vc .docGroup[data-operation=and] > .doc::before,
.vc .docGroup[data-operation=and] > .docGroup::before {
  content: "und";
}

.vc .docGroup[data-operation] > .doc:first-child::before,
.vc .docGroup[data-operation] > .docGroup:first-child::before {
  content: '';
}

.vc .docGroup[data-operation] > .doc::before,
.vc .docGroup[data-operation] > .docGroup::before {
  display: inline-block;
  text-align: right;
  width: 2.2em;
}


.vc .docGroup[data-operation] > .doc::before {
  padding-right: 1.2em;
}

.vc .docGroup[data-operation] > .docGroup::before {
  position: absolute;
}

.vc .docGroup[data-operation] > .doc::before {
  margin-right: .1em;
}

.vc .docGroup > .docGroup::before {
  margin-left: -3.4em;
}

/*
.vc .docGroup[data-operation=and]::before,
.vc .docGroup[data-operation=and] .operators {
  background-color: white;
}
*/

.vc .docGroup[data-operation] > .doc::before,
.vc .docGroup[data-operation] > .docGroup::before {
  color: #496000;
}

.vc .docGroup[data-operation=or] {
  border-color: #ffa500;
}

.vc .docGroup[data-operation=or] > .operators {
  border-color: #ffa500;
  background-color: #ffa500;
  color: white;
}

.docGroup > .operators {
  z-index: 30;
}

.docGroup
.docGroup > .operators {
  z-index: 31;
}

.docGroup
.docGroup
.docGroup > .operators {
  z-index: 32;
}

.docGroup
.docGroup
.docGroup
.docGroup > .operators {
  z-index: 33;
}

.docGroup
.docGroup
.docGroup
.docGroup
.docGroup > .operators {
  z-index: 34;
}

.docGroup
.docGroup
.docGroup
.docGroup
.docGroup
.docGroup > .operators {
  z-index: 35;
}

.docGroup
.docGroup
.docGroup
.docGroup
.docGroup
.docGroup
.docGroup > .operators {
  z-index: 36;
}

.vc .doc > span.key,
.vc .doc > span.value {
  font-weight: bold;
}

.vc .operators {
  color: #7ba400;
  border-color: white;
  text-align: center;
  font-weight: bold;
  border-style: solid;
}

.vc .docGroup > .operators {
  position: absolute;
  display: block;
  top: 10px;
  vertical-align: middle;
}

.vc .doc > .operators {
  display: inline-block;
  border-color: #ffa500;
  border-width: 2px 2px 2px 2px;
  border-radius: 7px;
}

.vc .docGroup > .operators {
  left: 3px;
  border-width: 2px 2px 2px 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-left: 100%;
  padding: 0;
}

.vc .docGroup:hover {
  background-color: rgba(255,255,255,0.2);
}

.vc .docGroup:hover > .operators,
.vc .doc:hover > .operators {
  opacity: 1;
}
