/**
 * Some colors and shadow definitions
 * for Kalamar,
 */

@use 'sass:color';

/**
 * Official IDS colors
 */
$ids-orange-1: rgb(246, 168,   0);
$ids-orange-2: rgb(242, 148,   0);
$ids-grey-1:   rgb(135, 136, 138);
$ids-grey-2:   rgb(217, 218, 219);
$ids-blue-1:   rgb(  0, 158, 224); // Pragmatik
$ids-blue-2:   rgb(188, 228, 247); // Pragmatik
$ids-green-1:  rgb( 99, 111,   7); // Grammatik
$ids-green-2:  rgb(227, 232, 163); // Grammatik
$ids-pink-1:   rgb(193,   0,  43); // Lexik
$ids-pink-2:   rgb(250, 243, 222); // Lexik

$black:        #333;
$darker-black: rgb(20,20,20); // official footer


/**
 * Orange Colors
 */
$light-orange:   #f4eebb;
$middle-orange:  #ffd080;
$dark-orange:    $ids-orange-1;
$darker-orange:  #ff8000;
$darkest-orange: #e55d00;


/**
 * Green Colors
 */
$dark-green:     $ids-green-1; // #496000;
$middle-green:   color.adjust($ids-green-1, $lightness: 9%, $space: hsl);
$light-green:    color.adjust($ids-green-1, $lightness: 13%, $space: hsl); // #7ba400;
$lightest-green: color.adjust($light-green, $lightness: 35%, $saturation: -20%, $space: hsl); // #d8e38c;
$grey-green:     color.adjust($lightest-green, $saturation: -25%, $lightness: -12%, $space: hsl); // #bcc387;


/**
 * Blue Colors
 */
$light-blue:     $ids-blue-2;
$dark-blue:      $ids-blue-1;
$darkest-blue:   color.adjust($dark-blue, $lightness: -40%, $space: hsl);


/**
 * Grey Colors
 */
$middle-grey:  $ids-grey-1; // #999;
$light-grey:   $ids-grey-2; // #ddd;
$dark-grey:    color.adjust($middle-grey, $lightness: -15%, $space: hsl);
$nearly-white: #fefefe;


/**
 * Red Colors (no IDS relation)
 */
$middle-red: #c1002b;
$light-red:  color.adjust($middle-red, $lightness: 40%, $space: hsl);
$dark-red:   color.adjust($middle-red, $lightness: -40%, $space: hsl);
$alert-red:  rgb(254,26,0);

/**
 * Basic shadows
 */
$dark-shadow:  1px 1px 1px rgba(0,0,0,0.3);
$light-shadow: 1px 1px     rgba(255,255,255,0.5);


/**
 * KWIC colors
 */
$kwic-border:       $middle-grey;
$kwic-line-noneven: $light-grey;
$kwic-line-even:    $nearly-white;
$kwic-match-color:  $dark-grey;
$kwic-match-shadow: $light-shadow;

$kwic-highlight-1:  $middle-red;
$kwic-highlight-2:  $dark-blue;
$kwic-highlight-3:  $dark-orange;
$kwic-highlight-4:  $light-green;
