@use "icons";
@use "mixins";

a.copy-to-clipboard::after {
    position: absolute;
    @include mixins.icon-font;
    width: 1em;
    content: icons.$fa-copy;
    cursor: pointer;
    margin-left: .4em;
    margin-top: .6em;
    font-size: 130%;
}
