/*
 * Defined lengths and sizes for the
 * Kalamar layout.
 */
$standard-border-radius: 6px;
$item-padding:           3pt 6pt;
$button-width:           30px;
$base-padding:           8px;
$border-size:            2px;
$result-border-size:     1px;
$left-width:             176px;
$border-size:            2px;
$left-distance:          $left-width + ($border-size * 2);

/**
 * Margins
 */
$standard-margin:     40px;
$right-distance:      $standard-margin;
$right-view-distance: $standard-margin / 2;
$logo-left-distance:  230px;
