@use "icons";
@use "mixins";

input.show-pwd {
    padding-right: 2em;
}

a.show-pwd::after {
    position: absolute;
    @include mixins.icon-font;
    width: 1em;
    content: icons.$fa-show;
    cursor: pointer;
    margin-left: -1.5em;
    margin-top: .6em;
    font-size: 130%;
}

a.show-pwd.hide::after {
    content: icons.$fa-hide;
}
