#searchMirror {
  position: absolute;
  height: 0px;
  margin-top: 1px;
  white-space:nowrap;
  overflow: show;
}

#searchMirror > span {
  opacity: 0;
  white-space:nowrap;
  overflow: hidden;
}

#searchMirror > ul {
  color: white;
  margin: 0;
  text-indent: 0;
  display: inline-block;
  background-color: #496000;
  opacity: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#searchMirror > ul > li {
  list-style-type: none;
  list-style-position: outside;
  padding: 3pt 10pt;
  text-shadow: none;
}

#searchMirror > ul > li {
  white-space: normal;
}

#searchMirror > ul > li > span {
  float: right;
  margin-left: 30pt;
  text-align: right;
  font-style: italic;
  color: #7ba400;
}

/* like sidebar ul li.active */
#searchMirror > ul > li.active {
  background-color: #7ba400;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

#searchMirror > ul > li.active > span {
  color: #496000;
  text-shadow: none;
}