@charset "utf-8";

ol > li:not(.active) .tokenInfo {
  display: none;
}

.tokenInfo {
  display: none;
}

.tokenInfo.active {
  display: block;
}

.tokenInfo {
  background-color: #ffa500;
  margin-right: 26px;
  overflow: auto;
}

.tokenInfo table {
  font-size: 10pt;
  padding: 3pt 10pt; /* wie in ol > li.active p */
}

.tokenInfo table tr {
}

/* All cells */
.tokenInfo table tr > * {
  padding: 1pt 6pt;
  vertical-align: top;
}

.tokenInfo table tr td {
  text-align: center;
  background-color: #f4eebb;
}

/* header */
.tokenInfo table tr th:not([rowspan]) {
  color: white;
  text-shadow: none;
}

.tokenInfo table tr:first-child th {
  text-align: center;
  background-color: #ff8000;
}

/* first column header */
.tokenInfo table tr:first-child th:first-child {
  position: relative;
  padding-right: 20pt;
  padding-left: 5pt;
}

/* second column header */
.tokenInfo table tr:first-child th:nth-child(2) {
  text-align: left;
  padding-left: 20pt;
  padding-right: 5pt;
}

.tokenInfo th[rowspan]:first-child {
  background-color: #f4eebb;
}

.tokenInfo table th span.switchSort {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  right: 0;
  margin-right: -11pt;
  width: 20pt;
};

