@charset "utf-8";
@import "../util";

/**
 * Rules for the Kalamar hint helper.
 */

$border-size: 2px;

ul.menu.hint {
  display: inline-block;
  white-space: normal;
  text-align:left;
  top: 0;
  max-width: 23em !important;

  > li:first-of-type {
    border-top: {
      width: 1px;
      left-radius: 0;
      right-radius: 0;
    }
  }
}

div.alert.hint {
  position: absolute;
  background-color: rgba(254,26,0,.9); // from alertify
  color: $nearly-white;
  padding: $item-padding;
  margin-top: 5px;
  box-shadow: $choose-box-shadow;
  border: {
    radius: $standard-border-radius;
    top-left-radius: 0;
  }
  width: auto;
  min-width: 10em;
  max-width: 23em !important;
  transition: opacity 0.2s ease 0s;
}

div.hint.alert::before {
  position: absolute;
  content: "";
  display: block;
  top: -8px;
  left: 0px;
  width: 0;
  white-space: normal; 
  border: {
    width: 0 8px 8px 0;
    style: solid;
    color: rgba(254,26,0,.9) transparent; // from alertify
  }
}

.hint.mirror {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  white-space: pre-wrap;
  height: 0;
  display: block;
  > span {
    opacity: 0;
    white-space: pre-wrap;
    overflow: hidden;
  }
  // TODO: Only in focus
  > div {
    position: absolute;
    display: block;
    cursor: pointer;
    transition: left 0.2s ease 0s;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0;
    border-top: 5px solid $dark-orange;
    height: 10px;
    width: 1.2em;
    &:hover:not(.active) {
      border-top: 10px solid $dark-orange;
    }
    &.active {
      border-top-width: 0;
      height: 0;
      width: 23em;
    }
  }
}