@use "../util";
@use "../base/colors";
@use "../base/lengths";

// In addition to main/panel.scss

div.panel.query div.view {
  background-color: colors.$dark-green;
  border-left: lengths.$border-size solid colors.$dark-green;
  iframe {
    background-color: colors.$nearly-white;
  }
}
