@charset "utf-8";
@import "../util";


/**
 * Search field
 */
#q-field {
  display:       block;
  margin-bottom: 3px;
  width:         100%;
  margin:        0;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &.loading {
    background: {
      color: $light-orange;
      image: none;
    }
  }
}


#searchbar {
  position:      relative;
  width:         100%;
  padding:       0;
  padding-right: $right-distance + $button-width;

  button[type=submit] {
    position: absolute;
    padding:  0;
    right:    $right-distance;

    &:not(.loading)::after {
      content: $fa-search;
    }
  }
}

.query.panel {
  padding-right: $right-distance + $button-width;
}

// Specify result button group layout

.query.button-group.button-panel {
  display:        block;
  width:          auto;
  text-align:     right;
  vertical-align: top;
  line-height:    1.3em;

  > span {
    box-shadow: none;
  }
}
