@charset "utf-8";
@import "../util";

$border-size: 2px;
$right-padding: 60px;


/**
 * Input field
 */
#q-field {
  width: 100%;
  margin: 0;
  margin-bottom: 3px;
  display: block;
}

header input {
  @include input-field;
}

#searchbar {
  position: relative;
  width: 100%;
  padding-right: $right-padding;
  button[type=submit] {
    position: absolute;
    right: $right-distance;
    &::after {
      content: $fa-search;
    }
  }
}

/**
 * Checkbox styling
 * http://stackoverflow.com/questions/4148499/how-to-style-checkbox-using-css
*/
.checkbox {
  display: none;
  + label {
    cursor: pointer;
    span { 
      border-radius: 4px;
      display: inline-block;
      width: 1em; // 12px
      height: 1em;
      line-height: 1em; // 12px;
      vertical-align: middle;
      padding: 0;
      margin-right: .2em;
/*
    background-color: $nearly-white;
    &:hover {
      border-color: $nearly-white;
    }
*/
      &::after {
	font-family: "FontAwesome"; 
	content: $fa-check;
      }
    }
  }
  &:checked + label span { 
    &:after {
      content: $fa-checked;
    }
  }
}
