@charset "utf-8";
@import "../util";


/* 
Corpus statistic  
Graying corpus statistic 
*/
div.stattable {
    display: flex;
    flex-direction: row;
    margin-right: $right-view-distance;
}
div.stattable {
    > dl {
        margin-bottom:4px;
        padding-bottom: 1px;   
            > div {
                border-color: $dark-green;
                > dt {
                    background-color: $middle-green;
                    width: 15em;
                    margin: 0;
                    &:after {
                    content: ":";
                        }
                    }   
                > dd {
                     background-color: $lightest-green;
                     color: $dark-grey;
                    }
                }
            }
    &.stdisabled {
        > dl 
            > div {
                > dt {
                    @include vcinfo-inactive;
                    }
             > dd {
                    @include vcinfo-inactive;
                }
            }
        }
}


/* Corpus statistic reload button */
div.reloadStatB {
  padding: $item-padding;
}

span.refresh::after{
  content : $fa-redo;
}

// Default value 20% doesn't work with < 5 items,
// which is the default case with corpus statistics
@media (min-width:1680px) {
  div.stattable dl.flex > div {
    width: inherit;
  }
}
