@charset "utf-8";
@use "../util";
@use "../base/colors";
@use "../base/icons";
@use "../base/lengths";


/**
 * Corpus statistic  
 * Graying corpus statistic 
 */
div.stattable {
  display: flex;
  flex-direction: row;
  margin-right: lengths.$right-view-distance;
}

div.stattable {
  > dl {
    margin-bottom:4px;

    > div {
      border-color: colors.$dark-green;

      > dt {
        background-color: colors.$middle-green;
        width:            15em;
        margin:           0;

        &::after {
          content: ":";
        }
      }   
      > dd {
        background-color: colors.$lightest-green;
        color:            colors.$dark-grey;
      }
    }
  }

  &.stdisabled {
    dt,
    dd {
      background-color: colors.$grey-green;
      color:            colors.$dark-green;
      text-shadow:      none;
    }
  }
}


/* Corpus statistic reload button */
div.reloadStatB > span.refresh {
  margin-left: 2pt;
}

span.refresh::after{
  vertical-align: sub;
  content :       icons.$fa-redo;
}

// Default value 20% doesn't work with < 5 items,
// which is the default case with corpus statistics
@media (min-width:1680px) {
  div.stattable dl.flex > div {
    width: inherit;
  }
}
