@charset "utf-8";
@import "../util";

div.stattable {
	display: flex;
	flex-direction: row;
}

div.stattable > dl {
  display: flex;
  flex-flow: row wrap;
  //margin-top: 4 * $border-size !important;
  margin-top:4px;
  margin-bottom:4px;
  padding-bottom: 1px;   
  > div {
    border-color: $dark-green;
    > dt {
      background-color: $middle-green;
      width: 15em;
      margin: 0;
      &:after {
  		  content: ":";
  	  }
    }
   	> dd {
      background-color: $lightest-green;
      color: $dark-grey;
	  }
  }
}
