@charset "utf-8";
@import "../util";

/**
 * Rules for the footer section of Kalamar
 */
footer {
  position: absolute;
  background-color: $dark-grey;
  bottom: 0;
  padding-bottom: 2px;
  font-size: 70%;
  width: 100%;
  text-align: right;
  a {
    &:link {
      margin: 0 .5em;
      color: $light-grey;
    }
    &:visited {
      color: $light-grey;
    }
    &:hover {
      color: $nearly-white;
    }
    &[href^="http://"]::after,
    &[href^="https://"]::after {
      content: none
    }
  }
  span.separator {
    &:after {
      content: "-";
      color: $light-grey;
    }
  }
}
