ol {
  overflow-x: hidden;
  overflow-y: visible;
  width: auto;
  border: 1px solid black;
  text-indent: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol li {
  display: table-row;
}

ol li div.left-col {
  position: relative;
  display: table-cell;
  table-layout: fixed;
  z-index: 5;
  overflow-y: visible;
  background-color: green;
}

div.main-col {
  position: relative;
  z-index: 4;
  display: table-cell;
}

div.main-col div.snippet div.flag {
  height: 100%;
  margin-left: 50%;
  position: absolute;
  width: 11px;
  background-color: red;
}

ol li div.main-col > div {
  margin-left: -49999.5%;
  width: 99999%;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  box-sizing: border-box;
}

div.snippet span.first {
  display: inline-block;
  width: 50.01%;
  text-align: right;
}

