@use "../../util";
@use "tree";
@use "../../base/colors";
@use "../../base/lengths";
@use "../../base/mixins";

/**
 * Matchtree view
 */

div.matchtree {
  overflow-x:       hidden;
  overflow-y:       visible;
  padding:          0;
  margin-top:       1pt;

  // Label
  h6 {
    display:   inline;
    font-size: inherit;
    color:     colors.$nearly-white;
    margin:    0;
    padding:   0 !important;
    float:     left;

    > span {
      @include mixins.matchinfo-head;
      @include mixins.cell-info;
      display: inline-block !important;
      margin: 0;

      &:nth-of-type(2) {
	      margin-left: lengths.$border-size;
      }
    }
  }
  
  > div {
    position:         unset;
    z-index:          4;
    overflow-x:       auto;
    margin:           lengths.$border-size;
    margin-left:      lengths.$left-distance;
    margin-right:     lengths.$right-view-distance;
    background-color: colors.$light-orange;
  }

  svg {
    overflow: visible;
    margin: 1em;
  }
}
