@charset "utf-8";
@use "../../util";
@use "../../base/colors";

/**
 * SVG tree
 */
path.edge {
  stroke:       colors.$darker-orange;
  stroke-width: 2px;
  fill:         none;
}

g.arc.infocus > path.edge {
  stroke: colors.$dark-green;
}

marker#arr {
  overflow: visible;
  path {
    stroke:       colors.$darkest-orange;
    fill:         colors.$darkest-orange;
    fill-opacity: 1;
    stroke-width: 2; 
  }
}

path.anchor {
  stroke:         colors.$darkest-orange;
  stroke-width:   3;
  stroke-linecap: round;
  z-index:        20;
}

g.root rect.empty {
  stroke:       colors.$darker-orange;
  fill:         colors.$darker-orange;
  stroke-width: 2px;
}

g.middle,
g.label {
  rect {
    stroke:       colors.$darker-orange;
    stroke-width: 2px;
    fill:         colors.$middle-orange;
  }
}

g.label.infocus rect {
  stroke: colors.$dark-green;
  fill:   colors.$lightest-green;
}

g.middle.mark {
  rect {
    fill: colors.$darker-orange;
  }
  > text {
    fill: colors.$light-orange;

    > tspan {
      stroke: colors.$light-orange;
    }
  }
}

g.leaf.mark text > tspan {
  font-weight: bold;
}

g.leaf > rect {
  display: none;
}

g > text > tspan {
  text-anchor: middle;
  font-size:   9pt;
}

g.leaf > text,
text.leaf {
  > tspan {
    font-size: 10pt;
    overflow:  visible;
  }
}
